SUPABASE_URL=https://pffnymrrlkiyscrlklbm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmZm55bXJybGtpeXNjcmxrbGJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTkxMzQyOTksImV4cCI6MjAzNDcxMDI5OX0.7KHd_ClGL1igkdRyH9HEGou8rC2GnCnX-Um6Rm0jUVg